section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 2px rgb(255, 17, 0) solid;
    padding-top: 2%;
}
Subtitle{
    text-justify: distribute;
}